@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-open main {
    filter: blur(8px);
    pointer-events: none;
    user-select: none;
    transition-property: filter, pointer-events, user-select;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}