@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-open main {
	filter: blur(8px);
	pointer-events: none;
	user-select: none;
	transition-property: filter, pointer-events, user-select;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.text-vertical {
	writing-mode: vertical-lr;
}

.link {
	@apply font-ibm text-sm text-snow inline-block hover:text-turquoise-blue;
}

@media (min-width: 768px) {
	.line-after {
		@apply after:block after:w-[1px] after:h-20 after:bg-slate-300 after:m-auto after:mt-4;
	}
}
